/*
 * Atlassian Jira Custom CSS
 *
 * Chrome Plugin: "User JavaScript and CSS" https://chrome.google.com/webstore/detail/user-javascript-and-css/nbhcbdghjpllgmfilhnhkllmkecfmpld?hl=en
 */

/*Right Details Column*/

#viewissuesidebar {
  width: 260px;
  padding-left: 0px;
  font-size: 9px;
}

.item-details dl>dt {
  display: table-cell;
  width: 80px;
  line-height: 10px;
}

.item-details dl>dd {
  display: table-cell;
  line-height: 10px;
}

#watching-toggle {
  white-space: nowrap;
  overflow-x: hidden;
  width: 63px;
  display: inline-block;
}

.issue-link-key {
  display: inline;
  margin-right: 3px;
}

.issue-link-summary {
  display: inline;
}

/* Comment Dialog: Fill Screen */
.jira-dialog {
  width: 98%;
  height: 98%;
    margin-left: 0px;
    margin-top: 0px;
  left: 1%;
  position: fixed;
  top: 1%;
  z-index: 3000;
}
.form-body {
  max-height: 100vh;
  height: 87vh;
}
#issue-create .form-body {
  height: 100%;
}
iframe[id^='mce_'] {
  height: 80vh;
}

/*Left Side Bar */
/*
.aui-sidebar[aria-expanded="false"] .aui-sidebar-wrapper {
  width: 32px !important;
}

.aui-icon, .aui-icon-large {
  width: 16px !important;
  background-size: contain !important;
}

.project-shortcuts-group .aui-iconfont-link {
  width: 16px !important;
}
*/