/*
 * Atlassian Jira Custom CSS
 *
 * Chrome Plugin: "User JavaScript and CSS" https://chrome.google.com/webstore/detail/user-javascript-and-css/nbhcbdghjpllgmfilhnhkllmkecfmpld?hl=en
 */

/*Right Details Column*/

#viewissuesidebar {
  width: 230px !important;
  padding-left: 0px !important;
  font-size: 9px;
}

.item-details dl>dt {
  display: table-cell !important;
  width: 80px !important;
  line-height: 10px !important;
}

.item-details dl>dd {
  display: table-cell !important;
  line-height: 10px !important;
}

a#watching-toggle {
  white-space: nowrap;
  overflow-x: hidden;
  width: 63px;
  display: inline-block;
}

/*Left Side Bar */
/*
.aui-sidebar[aria-expanded="false"] .aui-sidebar-wrapper {
  width: 32px !important;
}

.aui-icon, .aui-icon-large {
  width: 16px !important;
  background-size: contain !important;
}

.project-shortcuts-group .aui-iconfont-link {
  width: 16px !important;
}
*/