#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name[en_US]=PCSX2
Exec=/home/steve/.app/pcsx2.AppImage
Icon=/home/steve/projects/resources/icon/pcsx2.webp
Icon[en_US]=/home/steve/projects/resources/icon/pcsx2.webp
Name=PCSX2
