/*
 * Steps:
 * 1. Type in the Message field: /slackdevtools
 * 2. Sources -> Overrides (hidden in >> button) ->
 * 3. "Enable Local Overrides" should be checked
 * 4. Add this folder
 *
 * NOTE: These styles in this file are not used, they just show what was changed in the other files
 * See also: https://stackoverflow.com/questions/12692737/how-to-persist-css-changes-with-chrome-developer-tools
 *
 * Known Issue:
 * 1. If I close slack, I have to open /slackdevtools again to
 * get the css reapplied. In other words, it persists, but not
 * until the tools are loaded.
 * 2. The file name has to be updated from time-to-time.
 */

.p-ia4_client--narrow-feature-on .p-tab_rail {
    width: -5px;
}

.p-ia4_client--workspace-switcher-rail-visible.p-ia4_client--narrow-feature-on .p-control_strip {
  left: -5px;
}

.p-ia4_client.p-ia4_client--narrow-feature-on .p-client_workspace_wrapper {
    grid-template-columns: 0px auto;
}

.p-ia4_client--narrow-feature-on .p-tab_rail {
  width: 0px;
  display: none;
}