/*
 * Vivaldi Custom UI CSS
 *
 * Setup:
 *   1. vivaldi://experiments
 *   2. Enable "Allow for using CSS modifications"
 *   3. Settings => Appearance => Choose this folder
 *   4. Restart browser
 * Inspect UI:
 *   Linux/Windows: vivaldi --flag-switches-begin --debug-packed-apps --silent-debugger-extension-api --flag-switches-end
 *   Mac:           open /Applications/Vivaldi.app --args --debug-packed-apps --silent-debugger-extension-api
 * 
 */

/* Hide Folder Icons */
.bookmark-bar button img.folder-icon, .bookmark-bar button svg.folder-icon {
  display: none;
}
.bookmark-bar button img + span, .bookmark-bar button svg + span, .bookmark-bar button img + input, .bookmark-bar button svg + input {
  margin-left: 0px;
}

.tabs-right ~ #vivaldi-tooltip .tooltip .tab-group {
  box-shadow: 5px 5px;
}

/* Show separators */
.color-behind-tabs-off .bookmark-bar button .separator {
    border-left: 1px solid var(--colorBorder);
}

/*Source: https://www.reddit.com/r/vivaldibrowser/comments/6yaxc5/refinement_move_the_vivaldi_button_to_the/ */
/* Remove header */
:-webkit-any(.native, .maximized)#browser #header {
  min-height: 0 !important;
}

/* Keep Vivaldi button */
:-webkit-any(.native, .maximized)#browser .vivaldi  {
  z-index: 5;
  top: 0px !important;
  height: 18px;
  width: 18px;
}

/* Keep horizontal menu */
:-webkit-any(.native, .maximized)#browser .topmenu {
  position: absolute;
}

.toolbar-mainbar {
  height: 26px;
  position: static;
  border-bottom: 1px solid var(--colorBorder);
}

.toolbar.toolbar-droptarget.toolbar-mainbar.toolbar-large {
  padding-left: 26px;
}

.toolbar-mainbar > .button-toolbar > button, .toolbar-mainbar > .toolbar-group > .button-toolbar > button {
  height: 26px;
}

.toolbar-extensions {
  height: 26px !important;
}

.button-toolbar {
  height: 26px;
  overflow: hidden;
}

/* Reduce toolbar size for horizontal menu */
:-webkit-any(.native, .maximized).horizontal-menu#browser:not(.tabs-top) .toolbar.toolbar-addressbar {
  padding-left: 267px;
}

/* Non-Native window fixes */

/* Keep window buttons */
.maximized#browser .window-buttongroup {
  z-index: 1;
}

/* Reduce toolbar size for window buttons */
.maximized#browser:not(.native):not(.tabs-top) .toolbar.toolbar-addressbar {
  padding-right: 140px;
}

/* Adjust horizontal menu position */
.maximized#browser:not(.native) .topmenu {
  left: -30px;
}

/* Remove vivaldi button, horizontal menu and window buttons when no ui */
.maximized.minimal-ui#browser :-webkit-any(.vivaldi, .topmenu, .window-buttongroup) {
  display: none !important;
}
